*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
#fullpage{
    border: 1px solid red;
    height: 100%;
    /* display: flex; */
}
.firstNav{
    background-color: #F2F2F2;
}
#firstNavbar{
    width: 98%;
    margin: auto;
    /* border: 2px solid black; */
    height: 80px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}
.leftFirstNavbar{
    /* border: 1px solid black; */
    width: 10%;
    display: flex;
    align-items: center;
}
.middleFirstNavbar{
    /* border: 1px solid black; */
    width: 15%;
    margin-right: 80px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    
    /* justify-content: space-between; */
}
.logos{
    display: flex;
    margin-top: 19px;
    /* align-items: center; */
    
    justify-content: space-between;
    /* justify-content: center; */
}
.rightFirstNavbar{
    /* border: 1px solid black; */
    width: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightFirstNavbar > p > i{
    font-size: 25px;
    color: gray;
}

#secondNavbar{
    width: 100%;
    border: 2px solid black;
    height: 77px;
}
.secondNav{
    width: 74%;
    margin: auto;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    
}
.leftSecondNav{
    width: 8%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.rightSecondNav{
    width: 14%;
    /* border: 1px solid red; */
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.rightSecondNav i{
    font-size: 28px;
}

.firstBodyPart{
    height: 800px;
    border: 1px solid blue;
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/16689/images/stylish-scandinavian-living-room-with-design-mint-sofa-furnitures-mock-up-poster-map-plants-eleg444.jpg");
    background-size: cover;
}

.one{
    width: 547px;
    height: 478px;
    /* border: 4px solid rgb(222, 21, 21); */
    background-color: #b4bd9b;
    position: relative;
    left: 798px;
    top: 160px;
}
.two{
    width: 610px;
    height: 350px;
    /* border: 4px solid rgb(222, 21, 21); */
    background-color: white;
    position: absolute;
    left: 675px;
    top: 380px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* justify-content: left; */
    font-size: 25px;
    padding: 40px;
    /* margin-top: 20px; */
    /* text-align: left; */
}
.text{
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text h1{
    font-weight: 400;
    /* font-size: 60px; */
}
.text h4{
    font-weight: 400;
}